<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Reporting.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Reporting.Settings.AlexApplicConnectionString" connectionString="Data Source=b777\b7772000;Initial Catalog=AlexApplic;Integrated Security=True" />
        <add name="Reporting.Settings.DevicesConnectionString" connectionString="Data Source=b777\\b7772000;Initial Catalog=Device;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Reporting.Settings>
            <setting name="ActivityManagerPath" serializeAs="String">
                <value>\\nas\media$\ActivityManager\ActivityManager.exe</value>
            </setting>
            <setting name="ActivityManagerConfigsPath" serializeAs="String">
                <value>\\nas\media$\ActivityManager\templates\device</value>
            </setting>
            <setting name="ActivityManagerOutputCodePage" serializeAs="String">
                <value>cp866</value>
            </setting>
        </Reporting.Settings>
    </userSettings>
</configuration>