<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Devices.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Devices.Properties.Settings.DevicesConnectionString"
            connectionString="Data Source=b777\b7772000;Initial Catalog=Device;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Devices.Properties.Settings.AlexApplicConnectionString"
            connectionString="Data Source=b777\b7772000;Initial Catalog=AlexApplic;Integrated Security=True" />
    </connectionStrings>
    <userSettings>
        <Devices.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=b777\b7772000;Initial Catalog=Devices;Integrated Security=True</value>
            </setting>
        </Devices.Settings>
    </userSettings>
</configuration>